.location-header {
  background-color: var(--main-delivroo-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 46px;
}

.location-header .location {
  color: white;
  font-size: 42px;
}

.location-header button {
  border-radius: 0px !important;
  color: var(--main-delivroo-green);
  background-color: white;
  font-size: 16px;
  padding: 17px;
  border-color: var(--main-delivroo-green);
  border-radius: 3px !important;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .location-header {
    flex-direction: column;
    align-items: baseline;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .location-header {
    padding-left: calc(
      50% - ((2 * var(--img-width) + var(--grid-column-gap)) / 2)
    );
    padding-right: calc(
      50% - ((2 * var(--img-width) + var(--grid-column-gap)) / 2)
    );
  }
}

@media screen and (min-width: 1024px) {
  .location-header {
    padding-left: calc(
      50% - ((3 * var(--img-width) + 2 * var(--grid-column-gap)) / 2)
    );
    padding-right: calc(
      50% - ((3 * var(--img-width) + 2 * var(--grid-column-gap)) / 2)
    );
  }
}
