:root {
  --main-delivroo-green: #00ccbc;
  --main-txt-color: #979797;
}

body {
  margin: 0;
  font-family: "IBMPlexSans Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "IBMPlexSans Regular";
  src: url(https://consumer-component-library.roocdn.com/19.2.1/static/fonts/IBMPlexSans-Regular.dc16f54ea33a9556b9035a9b05e96711.woff2)
    format("woff2");
}

@font-face {
  font-family: "Stratos semibold";
  src: url(https://consumer-component-library.roocdn.com/19.2.1/static/fonts/stratos-semibold.b00ca2148f03da7f28865214a97c568e.woff2)
    format("woff2");
}

@font-face {
  font-family: "IBMPlexSans Bold";
  src: url(https://consumer-component-library.roocdn.com/19.2.1/static/fonts/IBMPlexSans-Bold.1920d19939b703c6610b0e6c197e3fce.woff2)
    format("woff2");
}

a {
  text-decoration: none;
  color: black;
}
