.restaurant-container {
  display: table;
  margin: 0 auto;
}

.restaurant-list span.tag:after {
  content: ".";
  margin-left: 7px;
  margin-right: 7px;
  position: relative;
  bottom: 3px;
  font-weight: 900;
  font-size: 20px;
}

.restaurant-list img {
  width: var(--img-width);
}

.restaurant-list span {
  color: var(--main-txt-color);
}

.restaurant-name {
  margin-top: 10px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
  font-family: "Stratos semibold";
  font-size: 22px;
}

.restaurant-tags {
  font-size: 14px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.restaurant-title {
  padding-top: 29px;
  padding-bottom: 29px;
  color: var(--main-txt-color);
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .restaurant-title {
    display: none;
  }

  .restaurant-container {
    display: block;
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
  }

  .restaurant-item {
    padding-top: 24px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .restaurant-list {
    display: grid;
    width: 100%;
    grid-template-columns: var(--img-width) var(--img-width);
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
  }
}

@media screen and (min-width: 1024px) {
  .restaurant-list {
    display: grid;
    width: 100%;
    grid-template-columns: var(--img-width) var(--img-width) var(--img-width);
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
  }
}
